/********** CARDS **********/
.card {
  position: relative;
  background-color: var(--color-white-040);
  border-radius: var(--border-radius-lg);
  overflow: hidden;
}

.card .label {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.card .label .info {
  display: inline-block;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-weight: var(--font-weight-regular);
  border-radius: var(--border-radius-sm);
  padding: 1px 10px 2px 10px;
  color: var(--color-white);
  margin-bottom: 4px;
}

.card .label .info-label {
  background-color: var(--color-info);
}

.card .label .warning-label {
  background-color: var(--color-warning);
}

.card .label .success-label {
  background-color: var(--color-success);
}

.wrapper {
  position: relative;
  overflow: hidden;
  transition: all linear 0.3s;
}

.wrapper .slider {
  height: 100%;
  overflow: hidden;
}

.wrapper .slider img {
  display: none;
}

.wrapper .slider img.show {
  display: block;
}

.wrapper .icons .wishlist {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 3.2rem;
  height: 3.2rem;
  box-shadow: var(--shadow-default);
  color: var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
}

.wrapper .icons .arrow-left,
.wrapper .icons .arrow-right {
  width: 0.8rem;
  height: 1.4rem;
  color: var(--color-white);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.wrapper .icons .arrow-left {
  left: 1rem;
}
.wrapper .icons .arrow-right {
  right: 1rem;
}

.wrapper .icons .wishlist,
.wrapper .icons .arrow-left,
.wrapper .icons .arrow-right {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.wrapper:hover .icons .wishlist,
.wrapper:hover .icons .arrow-left,
.wrapper:hover .icons .arrow-right {
  opacity: 1;
}

.card .container {
  padding: 2rem;
}

.card .container .content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: 0.1rem solid var(--color-white-150);
  margin-bottom: 1.6rem;
}

.card .container .content .info-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card .container .content .info {
  display: flex;
  flex-direction: column;
}

.card .container .content .info span {
  display: block;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-sm);
  color: var(--color-white);
  margin-bottom: 0.4rem;
}

.card .container .content .info div {
  display: flex;
  align-items: center;
  margin-bottom: 1.6rem;

  justify-content: flex-start;
}

.card .container .content .info div .pin-market {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.4rem;
  object-fit: contain;
  opacity: 0.7;
}

.card .container .content .info div small {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  color: var(--color-white-700);
  font-weight: var(--font-weight-regular);
}

.card .container .content .info h5 {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  color: var(--color-white-700);
  font-weight: var(--font-weight-bold);
  margin-bottom: 0.4rem;
}

.card .container .content .info p {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-base);
  color: var(--color-primary);
  margin-bottom: 0.4rem;
}

.card .container .icons {
  display: flex;
  gap: 1.2rem;
}

.card .container .icons .icon {
  flex: 1 1 19rem;
  background-color: var(--color-gray-900);
  border-radius: var(--border-radius-base);
  text-align: center;
  padding: 0.8rem;
}

.card .container .icons .icon img {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
  margin-bottom: 0.4rem;
}

.card .container .icons .icon span {
  display: block;
  color: var(--color-white);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-xs);
}

/* BULLETS */
.bullets {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.bullets span {
  display: inline-block;
  width: 1.6rem;
  height: 0.6rem;
  border-radius: 4rem;
  background-color: var(--color-white);
  opacity: 0.7;
  margin-left: 0.5rem;
  cursor: pointer;
}

.bullets span:first-child {
  margin: 0;
}

.bullets span:hover {
  opacity: 1;
}

.bullets span.active {
  width: 3.2rem;
  opacity: 1;
}
