section.catalogo {
  display: flex;
  justify-content: center;
  max-width: 966px;
  width: 100%;
}

section.catalogo .wrapper-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

section.catalogo .wrapper-container .card {
  width: 470px;
  height: 480px;
  margin: 0 0 26px 0;
}

section.catalogo .wrapper-container .card .wrapper .slider {
  width: 100%;
}

section.catalogo .wrapper-container .card .container .icons .icon {
  height: 62px;
  width: 136px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.catalogo section.footer-catalogo {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

section.catalogo section.footer-catalogo .sorting-compare {
  display: flex;
  justify-content: space-between;
  width: 432px;
  height: 44px;
}

section.catalogo section.footer-catalogo .sorting-compare .sorting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 265px;
}

section.catalogo section.footer-catalogo .sorting-compare .sorting>div {
  display: flex;
  align-items: center;
  width: 100%;
}

section.catalogo section.footer-catalogo .sorting-compare .sorting p {
  display: inline-block;
  font-size: 14px;
  margin-left: 8px;
}

section.catalogo section.footer-catalogo .sorting-compare .sorting .align-left--icon {
  display: inline-block;
  width: 100%;
  height: 14px;
  max-width: 14px;
  mask-image: url(../../assets/icons/align-left.svg);
  -webkit-mask-image: url(../../assets/icons/align-left.svg);
  background-color: var(--color-white);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}

section.catalogo section.footer-catalogo .sorting-compare .sorting select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: inherit;
  font-size: 14px;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  color: var(--color-white);
}

section.catalogo section.footer-catalogo .sorting-compare .sorting select::-ms-expand {
  display: none;
}

section.catalogo section.footer-catalogo .sorting-compare .sorting .select {
  min-width: 180px;
  height: 36px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 6px;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background: rgba(255, 255, 255, 0.04);
  position: relative;
}

section.catalogo section.footer-catalogo .sorting-compare .sorting .select::after {
  content: "";
  width: 100%;
  height: 14px;
  max-width: 14px;
  background-color: var(--color-white);
  mask-image: url(../../assets/icons/chevron.svg);
  -webkit-mask-image: url(../../assets/icons/chevron.svg);
  justify-self: end;
  transform: rotate(90deg);
}

section.catalogo section.footer-catalogo .sorting-compare .sorting select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid var(--color-primary);
  border-radius: inherit;
}

section.catalogo section.footer-catalogo .sorting-compare .sorting .select,
section.catalogo section.footer-catalogo .sorting-compare .sorting .select::after {
  grid-area: select;
}

section.catalogo section.footer-catalogo .sorting-compare .compare {
  display: flex;
  align-items: center;
  width: 120px;
}

section.catalogo section.footer-catalogo .sorting-compare .compare>div {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

section.catalogo section.footer-catalogo .sorting-compare .compare p {
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  margin-left: 8px;
}

section.catalogo section.footer-catalogo .sorting-compare .compare .switch-horizontal--icon {
  display: inline-block;
  width: 100%;
  height: 16px;
  max-width: 14px;
  mask-image: url(../../assets/icons/switch-horizontal.svg);
  -webkit-mask-image: url(../../assets/icons/switch-horizontal.svg);
  background-color: var(--color-white);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}

section.catalogo section.footer-catalogo .pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.catalogo section.footer-catalogo .pagination ul {
  list-style-type: none;
}

section.catalogo section.footer-catalogo .pagination ul li {
  display: inline;
  margin: 0 4px;
}

section.catalogo section.footer-catalogo .pagination ul li.active-page {
  display: inline-block;
  font-weight: 700;
  color: var(--color-primary);
  background-color: var(--color-white);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
}

section.catalogo section.footer-catalogo .pagination i {
  margin: 0 4px;
}