/********** DETAILS **********/
.details-section {
  margin-top: 96px;
  position: relative;
}

.details-header {
  padding: 0;
  margin-bottom: 72px;
}

.details-header h3 {
  color: var(--color-white);
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: var(--font-weight-bold);
}

.details-section--link {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-regular);
  color: var(--color-white-700);
  text-decoration-color: transparent;
  text-decoration-style: solid;
  text-decoration-line: underline;
  -webkit-transition: color 0.2s ease-in, text-decoration 0.2s ease-in;
  -moz-transition: color 0.2s ease-in, text-decoration 0.2s ease-in;
  -o-transition: color 0.2s ease-in, text-decoration 0.2s ease-in;
  transition: color 0.2s ease-in, text-decoration 0.2s ease-in;
}

.details-section--link:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

.details-section--link:hover .details-section--icon.arrow-right-icon {
  background-color: var(--color-primary);
}

.details-section--link span {
  margin-right: 8px;
}

.details-section--link .details-section--icon {
  width: 100%;
  height: 20px;
  max-width: 20px;
  min-width: 20px;
}

.details-section--link .details-section--icon.arrow-right-icon {
  mask-image: url(../../assets/icons/arrow-pointing.svg);
  -webkit-mask-image: url(../../assets/icons/arrow-pointing.svg);
  background-color: var(--color-white-700);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  -o-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.icon-details {
  display: block;
  content: '';
  padding: 12px;
  height: 24px;
  width: 24px;
}

.icon-left {
  margin-left: 16px;
}

.icon-right {
  margin-right: 16px;
}

.icon-file {
  background: url(../../assets/icons/file.svg) 0 0 no-repeat;
}

.icon-search {
  background: url(../../assets/icons/search.svg) 0 0 no-repeat;
}

.icon-settings {
  background: url(../../assets/icons/settings.svg) 0 0 no-repeat;
}

.icon-info {
  background: url(../../assets/icons/info.svg) 0 0 no-repeat;
}

.icon-user {
  background: url(../../assets/icons/user.svg) 0 0 no-repeat;
}

.icon-calculator {
  background: url(../../assets/icons/calculator.svg) 0 0 no-repeat;
}

.details-container {
  display: flex;
  justify-content: center;
  max-width: var(--max-content-width);
  width: 100%;
  padding-bottom: 48px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.details-left {
  margin-right: 122px;
}

.details-right {
  margin-left: 122px;
}

.details--card {
  display: flex;
  align-items: flex-start;
  width: 416px;
}

.details--centered-car {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.title-left {
  align-items: flex-end;
}

.title-right {
  align-items: flex-start;
}

.card--title {
  color: var(--color-white);
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  font-weight: var(--font-weight-bold);
  margin-bottom: 4px;
}

.card-left {
  text-align: right;
}

.card--content {
  color: var(--color-white-700);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-weight: var(--font-weight-regular);
}

.auto-car {
  position: relative;
  top: 0;
  width: 80px;
  height: 178px;
  z-index: 1;
}

.road-line {
  position: relative;
  top: -10px;
  width: 2px;
}
