/********** ICON-BRANDS **********/
.icon-brand-section div {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 96px;
}

.icon-brand {
  display: block;
  content: '';
  min-width: 86px;
  min-height: 48px;
  opacity: 40%;
  transition: opacity 0.5s;
}

.icon-brand:hover {
  opacity: 100%;
  cursor: pointer;
}

.icon-opel {
  background: url(../../assets/icons/opel.svg) 0 0 no-repeat;
}

.icon-audi {
  background: url(../../assets/icons/audi.svg) 0 0 no-repeat;
}

.icon-mercedes-benz {
  background: url(../../assets/icons/mercedes-benz.svg) 0 0 no-repeat;
}

.icon-toyota {
  background: url(../../assets/icons/toyota.svg) 0 0 no-repeat;
}

.icon-mazda {
  background: url(../../assets/icons/mazda.svg) 0 0 no-repeat;
}

.icon-nissan {
  background: url(../../assets/icons/nissan.svg) 0 0 no-repeat;
}

.icon-hyundai {
  background: url(../../assets/icons/hyundai.svg) 0 0 no-repeat;
}

.icon-lexus {
  background: url(../../assets/icons/lexus.svg) 0 0 no-repeat;
}

.icon-honda {
  background: url(../../assets/icons/honda.svg) 0 0 no-repeat;
}

.icon-renault {
  background: url(../../assets/icons/renault.svg) 0 0 no-repeat;
}

.icon-infiniti {
  background: url(../../assets/icons/infiniti.svg) 0 0 no-repeat;
}

.icon-mitsubishi {
  background: url(../../assets/icons/mitsubishi.svg) 0 0 no-repeat;
}

@media screen and (max-width: 260px) {
  .icon-brand-section div {
    flex-direction: row;
    overflow-x: auto;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  .icon-brand-section div::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .icon-brand-section div:hover::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .icon-brand-section div::-webkit-scrollbar-track {
    background: var(--color-white-150);
    border-radius: 20px;
  }

  .icon-brand-section div::-webkit-scrollbar-thumb {
    background-color: var(--color-white);
    border-radius: 20px;
    border: 3px solid var(--color-white);
  }

  .icon-brand-section div .icon-brand {
    margin-bottom: 36px;
  }
}
