.types-section {
  margin-top: 72px;
  font-family: var(--font-family-primary);
}

.types-section--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.types-section--link {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-regular);
  color: var(--color-white-700);
  text-decoration-color: transparent;
  text-decoration-style: solid;
  text-decoration-line: underline;
  -webkit-transition: color 0.2s ease-in, text-decoration 0.2s ease-in;
  -moz-transition: color 0.2s ease-in, text-decoration 0.2s ease-in;
  -o-transition: color 0.2s ease-in, text-decoration 0.2s ease-in;
  transition: color 0.2s ease-in, text-decoration 0.2s ease-in;
}

.types-section--link:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

.types-section--link:hover .types-section--icon.arrow-right-icon {
  background-color: var(--color-primary);
}

.types-section--link span {
  margin-right: 8px;
}

.types-section--link .types-section--icon {
  width: 100%;
  height: 20px;
  max-width: 20px;
  min-width: 20px;
}

.types-section--link .types-section--icon.arrow-right-icon {
  mask-image: url(../../assets/icons/arrow-pointing.svg);
  -webkit-mask-image: url(../../assets/icons/arrow-pointing.svg);
  background-color: var(--color-white-700);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  -o-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.types-section--container {
  margin-top: 32px;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  flex: 1 1 100%;
  gap: 24px;
}

.types-section--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 160px;
  border-radius: 12px;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

.types-section--card:hover {
  background-color: var(--color-white-040);
}

.types-section--title {
  color: var(--color-white);
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: var(--font-weight-bold);
}

img.types-section--img {
  width: auto;
  height: auto;
}

.types-section--a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white-700);
  cursor: auto;
}

.types-section--a span {
  color: var(--color-white-700);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-bold);
  margin-top: 20px;
  cursor: default;
}
