/********** ULTIMOS **********/
section.ultimos {
  margin-top: 72px;
}

section.ultimos .headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3.2rem;
  gap: 16px;
}

section.ultimos .headline h1 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

section.ultimos .headline .ultimos-section-actions .actions-buttons {
  margin-right: 17px;
}

section.ultimos .headline .ultimos-section-actions .actions-buttons *:not(:first-of-type) {
  margin-left: 12px;
}

section.ultimos .headline .ultimos-section-actions .ultimos-section--link {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-regular);
  color: var(--color-white-700);
  text-decoration-color: transparent;
  text-decoration-style: solid;
  text-decoration-line: underline;
  -webkit-transition: color 0.2s ease-in, text-decoration 0.2s ease-in;
  -moz-transition: color 0.2s ease-in, text-decoration 0.2s ease-in;
  -o-transition: color 0.2s ease-in, text-decoration 0.2s ease-in;
  transition: color 0.2s ease-in, text-decoration 0.2s ease-in;
}

section.ultimos .headline .ultimos-section-actions .ultimos-section--link:hover {
  color: var(--color-primary);
  text-decoration: underline;
}

section.ultimos .headline .ultimos-section-actions .ultimos-section--link:hover .ultimos-section--icon.arrow-right-icon {
  background-color: var(--color-primary);
}

section.ultimos .headline .ultimos-section-actions .ultimos-section--link span {
  margin-right: 8px;
}

section.ultimos .headline .ultimos-section-actions .ultimos-section--link .ultimos-section--icon {
  width: 100%;
  height: 20px;
  max-width: 20px;
  min-width: 20px;
}

section.ultimos .headline .ultimos-section-actions .ultimos-section--link .ultimos-section--icon.arrow-right-icon {
  mask-image: url(../../assets/icons/arrow-pointing.svg);
  -webkit-mask-image: url(../../assets/icons/arrow-pointing.svg);
  background-color: var(--color-white-700);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  -o-transition: color 0.2s ease-in, background-color 0.2s ease-in;
  transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

section.ultimos .wrapper-container {
  position: relative;
}

section.ultimos .wrapper-container .wrapper-slider {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  overflow-x: hidden;
}

section.ultimos .wrapper-container .wrapper-slider::-webkit-scrollbar {
  display: none;
}

section.ultimos .wrapper-container .wrapper-slider .card {
  min-width: 32%;
  height: 90%;
  margin: 0 24px 0 0;
  position: relative;
  left: 0;
  transition: left 0.5s;
}

section.ultimos .wrapper-container .icons .icon-wrapper--right,
section.ultimos .wrapper-container .icons .icon-wrapper--left {
  position: absolute;
  top: calc(50% - 32px); /* removes 32px from margin-bottom of the relative positioned parent called .wrapper-slider */
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white-040);
  width: 3.6rem;
  height: 3.6rem;
  max-width: 3.6rem;
  max-height: 3.6rem;
  text-align: center;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
}

section.ultimos .wrapper-container .icons .icon-wrapper--right:hover,
section.ultimos .wrapper-container .icons .icon-wrapper--left:hover {
  background-color: var(--color-white);
}

section.ultimos .wrapper-container .icons .icon-wrapper--right:hover i,
section.ultimos .wrapper-container .icons .icon-wrapper--left:hover i {
  background-color: var(--color-primary);
}

section.ultimos .wrapper-container .icons .icon-wrapper--right {
  right: -4.4rem;
}

section.ultimos .wrapper-container .icons .icon-wrapper--left {
  left: -4.9rem;
}

section.ultimos .wrapper-container .icons i {
  width: 2rem;
  height: 2rem;
  max-width: 2rem;
  min-width: 2rem;
  background-color: var(--color-white);
  mask-image: url(../../assets/icons/chevron.svg);
  -webkit-mask-image: url(../../assets/icons/chevron.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-size: cover;
}

section.ultimos .wrapper-container .icons .slider-arrow-right {
  transform: rotate(270deg);
}

section.ultimos .wrapper-container .icons .slider-arrow-left {
  transform: rotate(90deg);
}

section.ultimos .wrapper-container .bullet-container {
  margin: 0 auto;
  text-align: center;
  margin-top: 3.2rem;
}

section.ultimos .wrapper-container .bullet-container span {
  display: inline-block;
  width: 1.6rem;
  height: 0.6rem;
  border-radius: 4rem;
  background-color: var(--color-white);
  opacity: 0.7;
  margin-left: 0.5rem;
  cursor: pointer;
}

section.ultimos .wrapper-container .bullet-container span:first-child {
  margin: 0;
}

section.ultimos .wrapper-container .bullet-container span:hover {
  opacity: 1;
}

section.ultimos .wrapper-container .bullet-container span.active {
  width: 3.2rem;
  opacity: 1;
}

@media screen and (max-width: 1440px) {
  section.ultimos .wrapper-container .icons .icon-wrapper--left,
  section.ultimos .wrapper-container .icons .icon-wrapper--right {
    display: none;
  }
}

@media screen and (max-width: 1110px) {
  section.ultimos .wrapper-container .wrapper-slider .card {
    min-width: 49%;
    margin: 0 15px 0 0;
  }
}

@media screen and (max-width: 710px) {
  section.ultimos .wrapper-container .wrapper-slider .card {
    min-width: 99%;
    margin: 0 10px 0 0;
  }

  main.main section.ultimos .headline {
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  main.main section.ultimos .headline .ultimos-section-actions {
    flex-direction: column;
    gap: 16px;
  }
}

@media screen and (max-width: 574px) {
  main.main-car-page section.ultimos .headline {
    justify-content: center;
  }

  main.main-car-page section.ultimos .headline h1 {
    margin-right: 0;
  }
}

@media screen and (max-width: 460px) {
  main.main-car-page section.ultimos .headline h1 {
    margin-right: 0;
    text-align: center;
  }
}
