/********** HELPER CLASSES **********/
.center-page-content {
  padding: 0 24px;
  margin: 0 auto;
  max-width: var(--main-width);
  width: 100%;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
/********** HELPER CLASSES **********/

/* NEW-BTN-TOGGLE && USED-BTN-TOGGLE */
.new-btn--toggle,
.used-btn--toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-btn--toggle label,
.used-btn--toggle label {
  padding: 8px 16px;
  border: none;
  border-radius: var(--border-radius-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-base);
  color: var(--color-text-primary);
  background-color: var(--color-white-040);
  user-select: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in, color 0.2s ease-in, box-shadow 0.2s ease-in;
}
.new-btn--toggle input,
.used-btn--toggle input {
  display: none;
}
.new-btn--toggle input:checked + label,
.used-btn--toggle input:checked + label {
  background-color: var(--color-white);
  color: var(--color-primary);
  box-shadow: var(--shadow-large);
}
/* NEW-BTN-TOGGLE && USED-BTN-TOGGLE */

/* CHECKBOX */
.checkbox .chk {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}

.checkbox .chk input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox .chk .check {
  position: absolute;
  width: 13.5px;
  height: 13.5px;
  border: 2px solid var(--color-white);
  border-radius: 2px;
  top: 3px;
  left: 0;
  opacity: 0.7;
}

.checkbox .chk input:checked ~ .check {
  border: solid var(--color-primary);
  opacity: 1;
}

.checkbox .chk .check:after {
  top: 0px;
  left: 2.5px;
  height: 7px;
  width: 5px;
  border: solid var(--color-primary);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox .check:after {
  content: '';
  display: none;
  position: absolute;
}

.checkbox .chk input:checked ~ .check:after {
  display: block;
}
/* CHECKBOX */
